location = /v1/chat/completions {
    proxy_pass http://127.0.0.1:{{API_PORT}};
    include /etc/nginx/snippets/undersky-core-proxy.conf;
}
location = /v1/responses {
    proxy_pass http://127.0.0.1:{{API_PORT}};
    include /etc/nginx/snippets/undersky-core-proxy.conf;
}
location = /v1/messages {
    proxy_pass http://127.0.0.1:{{API_PORT}};
    include /etc/nginx/snippets/undersky-core-proxy.conf;
}
location = /v1/embeddings {
    proxy_pass http://127.0.0.1:{{API_PORT}};
    include /etc/nginx/snippets/undersky-core-proxy.conf;
}
